version: '3.8'
services:
  backend:
    build:
      context: ./auth-backend
      dockerfile: Dockerfile
    container_name: auth-backend
    restart: unless-stopped
    env_file:
      - ./auth-backend/.env
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./auth-frontend
      dockerfile: Dockerfile
    container_name: auth-frontend
    restart: unless-stopped
    env_file:
      - ./auth-frontend/.env
    ports:
      - "5173:5173"
